.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .home-title {
    font-family: Poppins;
    font-weight: 800;
    font-size: 2.6rem;
  }
  .home-desc {
    font-family: Poppins;
    font-weight: 300;
    font-size: 0.95rem;
    max-width: 600px;
  }
}
