.navbar {
  padding-bottom: 3.5rem;

  .navbar__inner {
    .navbar__items {
      flex-direction: row;
      .navbar__link {
        font-family: Poppins;
        font-weight: 600;
        font-size: 1rem;
        margin-top: -0.5rem;

        &:nth-of-type(2) {
          margin-left: 60px;
        }

        &:hover,
        &--active {
          background: linear-gradient(
            90deg,
            rgba(255, 117, 1, 1) 0%,
            rgba(255, 173, 2, 1) 100%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .navbar__brand {
        margin-left: 3rem;
        @media screen and (max-width: 996px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .navbar__logo {
          margin-top: -0.25rem;
          height: 55px;
        }
      }
    }
  }
}
